In [24]:
import pandas as pd
import numpy as np
data = pd.read_csv("data/delhi/anand-vihar, delhi, delhi, india-air-quality.csv")

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2765 entries, 0 to 2764
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2765 non-null   object
 1    pm25   2765 non-null   object
 2    pm10   2765 non-null   object
 3    o3     2765 non-null   object
 4    no2    2765 non-null   object
 5    so2    2765 non-null   object
 6    co     2765 non-null   object
dtypes: object(7)
memory usage: 151.3+ KB

In [26]:
data.head()

       date  pm25  pm10   o3  no2  so2   co
0  2022/1/3   405   540   30   43   10   16
1  2022/1/4   340   386   21   27    7   14
2  2022/1/5   407   101    5   18    4   12
3  2022/1/6   188    79    7   15    6   18
4  2022/1/7   154    51    6   15    3   13

In [27]:
data['date'] = pd.to_datetime(data['date'])

In [28]:
data.tail()

           date  pm25  pm10   o3  no2  so2   co
2760 2014-03-17         366   17   12    6    9
2761 2016-02-28               18   43   12
2762 2014-08-03               92   49    3   12
2763 2014-08-07               22   41    6    6
2764 2021-07-31                    11    4   12

In [29]:
#data['pm25']=data['pm25'].astype(str).astype(int)
#data.iloc[:, 1] = data.iloc[:, 1].values.astype(str).astype(float).astype(int)
#for x in data.iloc[: ,1].values:
    #data.iloc[0 , 1]

In [30]:
data.columns = data.columns.str.replace(' ', '')

In [31]:
#data.iloc[:, 1:7] = data.iloc[:, 1:7].str.replace(" ", "")
#data.iloc[:, 1] = data.iloc[:, 1].values.astype(str).astype(int)
#data.info()
data['pm25'] = data['pm25'].str.replace(" ", "")
data['pm10'] = data['pm25'].str.replace(" ", "")
data['o3'] = data['pm25'].str.replace(" ", "")
data['no2'] = data['pm25'].str.replace(" ", "")
data['so2'] = data['pm25'].str.replace(" ", "")
data['co'] = data['pm25'].str.replace(" ", "")

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2765 entries, 0 to 2764
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2765 non-null   datetime64[ns]
 1   pm25    2765 non-null   object
 2   pm10    2765 non-null   object
 3   o3      2765 non-null   object
 4   no2     2765 non-null   object
 5   so2     2765 non-null   object
 6   co      2765 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 151.3+ KB

In [33]:
print(data.iloc[:, 1])

0       405
1       340
2       407
3       188
4       154
       ...
2760
2761
2762
2763
2764
Name: pm25, Length: 2765, dtype: object

In [34]:
data['date']

0      2022-01-03
1      2022-01-04
2      2022-01-05
3      2022-01-06
4      2022-01-07
          ...
2760   2014-03-17
2761   2016-02-28
2762   2014-08-03
2763   2014-08-07
2764   2021-07-31
Name: date, Length: 2765, dtype: datetime64[ns]

In [35]:
import numpy as np
data = data.replace(r'^\s*$', np.nan, regex=True)

In [36]:
data.tail()

           date pm25 pm10   o3  no2  so2   co
2760 2014-03-17  NaN  NaN  NaN  NaN  NaN  NaN
2761 2016-02-28  NaN  NaN  NaN  NaN  NaN  NaN
2762 2014-08-03  NaN  NaN  NaN  NaN  NaN  NaN
2763 2014-08-07  NaN  NaN  NaN  NaN  NaN  NaN
2764 2021-07-31  NaN  NaN  NaN  NaN  NaN  NaN

In [37]:
#data['pm25'] = data['pm25'].astype(int)
data['pm25'] = pd.to_numeric(data['pm25'], errors='coerce')
data['pm10'] = pd.to_numeric(data['pm10'], errors='coerce')
data['o3'] = pd.to_numeric(data['o3'], errors='coerce')
data['no2'] = pd.to_numeric(data['no2'], errors='coerce')
data['so2'] = pd.to_numeric(data['so2'], errors='coerce')
data['co'] = pd.to_numeric(data['co'], errors='coerce')

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2765 entries, 0 to 2764
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2765 non-null   datetime64[ns]
 1   pm25    2674 non-null   float64
 2   pm10    2674 non-null   float64
 3   o3      2674 non-null   float64
 4   no2     2674 non-null   float64
 5   so2     2674 non-null   float64
 6   co      2674 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 151.3 KB

In [39]:
data.isnull().sum()

date     0
pm25    91
pm10    91
o3      91
no2     91
so2     91
co      91
dtype: int64

In [40]:
#data["pm5"]= data['pm25'].to_numpy()

In [41]:
#data['pm25'] = np.reshape(data['pm25'],(1, data['pm25'].size))
#data['pm25'] = np.array(data['pm25'].values)

In [42]:
#data['pm25'].values.reshape(-1, 1)

In [43]:
data['pm25']

0       405.0
1       340.0
2       407.0
3       188.0
4       154.0
        ...
2760      NaN
2761      NaN
2762      NaN
2763      NaN
2764      NaN
Name: pm25, Length: 2765, dtype: float64

In [ ]:
# TODO SET INDEX
#x = data.iloc[: , 1].values
#y = data.iloc[: , ]